.vung-dau {
    background-color: #F9F9F9;
}

.vung-dau-hien {
    padding: 5em 0 5em 0;
}

.bo-tron {
    border-radius: 12px;
}

.dam-chu {
    font-weight: 700;
}

.co-chu-nho {
    font-size: 12px;
}