.nut-nav {
    background-color: #47BE7D;
    border-radius: 10px;
    border-width: 0;
    color: white;
    font-weight: 500;
}

.nut-nav:hover {
    opacity: 0.9;
}

.link-nav {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.link-nav:hover {
    color: black;
    background-color: #F4F4F4;
    border-radius: 10px;
    border-width: 0;
}

.vung-dau {
    background-color: #F9F9F9;
}

.vung-dau-hien {
    padding: 5em 0 5em 0;
}

.bo-tron {
    border-radius: 12px;
}

.dam-chu {
    font-weight: 700;
}

.co-chu-nho {
    font-size: 12px;
}

.the-noi-dung {
    border-radius: 25px;
    background-color: #40B876;
    border-width: 0;
    padding: 5em 0 5em 0;
}

.nut-trong-the {
    background-color: white;
    color: black;
    border-radius: 15px;
    border-width: 0;
}

.nut-trong-the:hover {
    opacity: 0.9;
}

.offcanvas-chieu-dai {
    width: 200px;
}