.mau_tieu_de {
    background: linear-gradient(116deg, rgb(80, 118, 252) 19.936305732484076%, rgb(200, 127, 253) 100%);
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.small-fix {
    font-size: 0.875em;
}

@media (max-width: 576px) {
    .small-fix {
        font-size: 0.6em;
    }
}

.di_chuot {
    position: relative;
    transition: transform 0.2s linear;
}

.di_chuot:hover {
    transform: translateY(-4px);
}

.w-80 {
    width: 80% !important;
}

.w-10 {
    width: 10% !important;
}