.fs-6-fix {
    font-size: 1em !important;
}

.w-25-fix {
    width: 25% !important;
}

.small-fix {
    font-size: 0.875em;
}

@media (max-width: 576px) {
    .small-fix {
        font-size: 0.6em;
    }
}

@media (max-width: 576px) {
    .w-25-fix {
        width: 50% !important;
    }
}

@media (min-width: 576px) {
    .fs-6-fix {
        font-size: 1.25em !important;
    }
}

.mau_tieu_de {
    background: linear-gradient(116deg, rgb(80, 118, 252) 19.936305732484076%, rgb(200, 127, 253) 100%);
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.di_chuot {
    position: relative;
    transition: transform 0.2s linear;
}

.di_chuot:hover {
    transform: translateY(-4px);
}

.w-80 {
    width: 80% !important;
}

.w-10 {
    width: 10% !important;
}

@media (max-width: 576px) {
    .w-10 {
        width: 15% !important;
    }
}

/* .mau_nen_ps5 {
    background: linear-gradient(to top right, #1F1F1F, #1F1F1F00 100%);
}

.mau_nen_ns {
    background: linear-gradient(to top right, #C00000, #FF0000 100%);
}

.mau_nen_xb {
    background: linear-gradient(to top right, #77BB44, #107C10 100%);
} */