.fs-6-fix {
    font-size: 1em !important;
}

.w-25-fix {
    width: 25% !important;
}

.small-fix {
    font-size: 0.875em;
}

@media (max-width: 576px) {
    .small-fix {
        font-size: 0.6em;
    }
}

@media (max-width: 576px) {
    .w-25-fix {
        width: 50% !important;
    }
}

@media (min-width: 576px) {
    .fs-6-fix {
        font-size: 1.25em !important;
    }
}