.vung-chon-phieu-luu {
    border-radius: 10px;
}

.vung-chon-phieu-luu-chon {
    background-color: #F5F5F6;
}

.vung-chon-phieu-luu:hover {
    cursor: pointer;
    background-color: #F5F5F6;
}

.the-phieu-luu {
    background-color: #F5F5F6;
    border-radius: 15px;
}

.nut-chon-phieu-luu {
    border-radius: 10px;
    background-color: #F5F5F6;
    border-width: 0;
    font-weight: 500;
}

.nut-chon-phieu-luu:hover {
    opacity: 0.9;
}

.offcanvas-chieu-dai-pl {
    width: 250px;
}