.vung-chon-nhiem-vu {
    border-radius: 10px;
    background-color: #F5F5F6;
}

.vung-chon-nhiem-vu:hover {
    cursor: pointer;
}

.the-nhan-vat {
    background-color: #F5F5F6;
    border-radius: 15px;
    cursor: pointer;
}

.nut-chon-nhiem-vu {
    border-radius: 10px;
    background-color: #F5F5F6;
    border-width: 0;
    font-weight: 500;
}

.nut-chon-nhiem-vu:hover {
    opacity: 0.9;
}

.offcanvas-chieu-dai-nv {
    width: 250px;
}