.the-nhiem-vu {
    border: 1px solid black;
    border-radius: 25px;
}

.khung-nhiem-vu {
    background-color: #F3F3F3;
    border: 1px solid #C9C9C9;
}

.khung-dau {
    background-color: #47BE7D;
    border: 1px solid #C9C9C9;
    color: white;
}

.khung-chon {
    border: 1px solid #C9C9C9;
    background-color: white;
    border-radius: 10px;
}

.khung-chon:hover {
    opacity: 0.9;
}