.vung-chon-anime {
    border-radius: 10px;
    background-color: #F5F5F6;
}

.vung-chon-anime:hover {
    cursor: pointer;
}

.the-nhan-vat {
    background-color: #F5F5F6;
    border-radius: 15px;
    cursor: pointer;
}

.nut-chon-anime {
    border-radius: 10px;
    background-color: #F5F5F6;
    border-width: 0;
    font-weight: 500;
}