.vung-thu-thap {
    padding: 10px 15px 10px 15px;
    position: relative;
}

.thanh-mau-container {
    width: 100%;
    border: 1px solid black;
    height: 20px;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.thanh-mau {
    width: 100%;
    /* Máu bắt đầu ở 100% */
    height: 100%;
    background-color: red;
    transition: width 0.2s;
    border-radius: 5px;
}

.vung-thong-tin {
    height: 20vh;
    overflow: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.vung-ky-nang {
    height: 10vh;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.anh-ky-nang {
    width: 50%;
    /* Hoặc kích thước mong muốn của bạn */
    height: auto;
}

.vi-tri-anh {
    position: relative;
    display: inline-block;
}

.cooldown-overlay {
    position: absolute;
    top: 0;
    left: 22%;
    width: 55%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.cooldown-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thoi-gian-mobile {
    top: 5px;
    left: 5px;
}

body {
    user-select: none;
    /* Ngăn chặn việc chọn */
}