.vung-chon-su-kien {
    border-radius: 10px;
}

.vung-chon-su-kien-chon {
    background-color: #F5F5F6;
}

.vung-chon-su-kien:hover {
    cursor: pointer;
    background-color: #F5F5F6;
}

.the-su-kien {
    background-color: #F5F5F6;
    border-radius: 15px;
}

.nut-chon-su-kien {
    border-radius: 10px;
    background-color: #F5F5F6;
    border-width: 0;
    font-weight: 500;
}

.nut-chon-su-kien:hover {
    opacity: 0.9;
}

.offcanvas-chieu-dai-sk {
    width: 250px;
}