.che-do-choi {
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    max-width: 15vw;
}

.che-do-choi:hover {
    background-color: #198754;
    color: white;
    cursor: pointer;
    border-color: #198754;
}

.che-do-choi-chon {
    background-color: #198754;
    color: white;
    border: 1px solid #198754;
    border-radius: 15px;
    max-width: 15vw;
}

.che-do-choi-mobile {
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}

.che-do-choi-mobile:hover {
    background-color: #198754;
    color: white;
    cursor: pointer;
    border-color: #198754;
}

.vung-che-do {
    height: 55vh;
    overflow: auto;
    scrollbar-width: none;
}

.cap-do-0 {
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    background-color: white;
}

.cap-do-0-5 {
    border: 1px solid green;
    border-radius: 25px;
    color: white;
    background-color: green;
}

.cap-do-1 {
    border: 1px solid blue;
    border-radius: 25px;
    color: white;
    background-color: blue;
}


.cap-do-1-5 {
    border: 1px solid yellow;
    border-radius: 25px;
    color: black;
    background-color: yellow;
}

.cap-do-2 {
    border: 1px solid blueviolet;
    border-radius: 25px;
    color: white;
    background-color: blueviolet;
}

.cap-do-3 {
    border: 1px solid orange;
    border-radius: 25px;
    color: white;
    background-color: orange;
}

.cap-do-2-5 {
    border: 1px solid red;
    border-radius: 25px;
    color: white;
    background-color: red;

}

.cap-do-4 {
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    background-color: black;
}

.cap-do-5 {
    border: 1px solid linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-radius: 25px;
    color: white;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}