:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.animate__animated.animate__delay-02s {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.animate__animated.animate__delay-01s {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
        opacity: 0;
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animate__slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}

.animate__zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.doi-mau-nen {
    background-size: 200% 200%;
    background-image: linear-gradient(to right, black 50%, white 0);
    background-position: right;
}

.doi-mau-nen-dong {
    background-position: left;
    transition: background-position 0.2s;
    -webkit-transition: background-position 0.2s;
    -moz-transition: background-position 0.2s;
}