.mobile {
    display: none;
}

@media (max-width:777px) {
    .kiem-tra {
        display: none;
    }

    .mobile {
        display: block;
    }
}

.nen-dau {
    background-color: #e3ffe6;
}

.fw-500 {
    font-weight: 500;
}

.nen-nut {
    background-color: #0f172A;
    border-radius: 30px;
    transition: 0.1s linear;
}

.nen-nut:hover {
    background-color: #1e293b;
}

.w-200 {
    width: 200%;
}

.mb-09 {
    margin-bottom: 0.9em;
}

.vat-pham-nen {
    width: 25%;
    height: auto;
}

#trang1,
#trang2,
#trang3 {
    cursor: pointer;
}

.mui-ten {
    border: 1px solid #e3ffe6;
    border-radius: 50%;
    transition: 0.1s linear;
}

.mui-ten:hover {
    border-color: #334155;
    cursor: pointer;
}

.nen-than {
    background-color: #f7f7f9;
}

.br-20 {
    border-radius: 20px;
}

.nav-than:hover {
    color: black !important;
}

.nut-nhan {
    cursor: pointer;
}

.nen-game {
    background-color: #eef2ff;
}

.br-50pt {
    border-radius: 50%;
}

.cach-dong {
    line-height: 1px;
}

.doi-nen {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: 0.1s linear;
}

.doi-nen-mau {
    color: black;
    transition: 0.1s linear;
}

.doi-nen:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    cursor: pointer;
}

.doi-nen:hover .doi-nen-mau {
    color: #0eabee;
}