.mau-tieu-de {
    transition: 0.2s linear;
}

.mau-tieu-de:hover {
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(116deg, rgb(80, 118, 252) 19.936305732484076%, rgb(200, 127, 253) 100%);
}

.dieu-huong {
    z-index: 2000;
}

.nen-link {
    transition: 0.1s linear;
}

.nen-link:hover {
    background-color: #F1F5F9;
}

.nen-icon {
    border-radius: 50%;
    transition: 0.1s linear;
}

.nen-icon:hover {
    background-color: #F1F5F9;
    cursor: pointer;
}

.nguoi-dung {
    position: fixed;
    display: none;
    max-width: 260px;
    z-index: 2001;
}

.br-20 {
    border-radius: 20px;
}

.fw-500 {
    font-weight: 500;
}

.chu-popup {
    color: #334155;
}

.nen-popup {
    transition: 0.1s linear;
}

.nen-popup:hover {
    background-color: rgba(243, 244, 246);
    cursor: pointer;
}

.gio-hang {
    position: fixed;
    display: none;
    max-width: 430px;
    z-index: 2001;
}

.san-pham-gio {
    overflow-y: auto;
    max-height: 60vh;
    scrollbar-width: none;
}

.nut-gio-hang {
    border-radius: 40px;
    padding: 0.6em 3em 0.6em 3em;
    font-size: 1.15em;
}

.nen-nut-den {
    background-color: #0f172A;
    transition: 0.1s linear;
}

.nen-nut-den:hover {
    background-color: #1e293b;
    cursor: pointer;
}

.nen-nut-trang {
    background-color: white;
    transition: 0.1s linear;
}

.nen-nut-trang:hover {
    background-color: #f7f7f9;
    cursor: pointer;
}