.vung-chon-gacha {
    border-radius: 10px;
}

.vung-chon-gacha-chon {
    background-color: #F5F5F6;
}

.vung-chon-gacha:hover {
    cursor: pointer;
    background-color: #F5F5F6;
}

.the-gacha {
    background-color: #F5F5F6;
    border-radius: 15px;
}

.nut-chon-gacha {
    border-radius: 10px;
    background-color: #F5F5F6;
    border-width: 0;
    font-weight: 500;
}

.nut-chon-gacha:hover {
    opacity: 0.9;
}

.offcanvas-chieu-dai-gacha {
    width: 250px;
}