.khung-trac-nghiem {
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
}

.khung-trac-nghiem-mobile {
    background-color: white;
}

.khung-trac-nghiem-fix {
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
}

.khung-trac-nghiem-dung {
    background-color: #198754;
    color: white;
    border-color: #198754;
    border-radius: 15px;
}

.khung-trac-nghiem-sai {
    background-color: #DC3545;
    color: white;
    border-color: #DC3545;
    border-radius: 15px;
}

.khung-trac-nghiem:hover {
    background-color: #198754;
    color: white;
    cursor: pointer;
    border-color: #198754;
}

.nav-thong-tin {
    background-color: black;
}

.vung-anime-mobile {
    background-color: white;
    border-radius: 10px;
    height: 45vh;
}

.anh-anime-mobile {
    width: 40%;
}

.position-absolute {
    position: absolute;
}

.thoi-gian-mobile {
    top: -40px;
    left: -5px;
}

.so-diem-mobile {
    top: -40px;
    right: -5px;
}

.trac-nghiem-mobile {
    height: 35vh;
    overflow: auto;
    scrollbar-width: none;
}

.vung-cau-hoi {
    overflow: auto;
    scrollbar-width: none;
}

.vung-cau-hoi-mobile {
    height: 20vh;
}

/* Animate.css */
.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Fading entrances  */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#progress-container {
    display: none;
    margin-top: 20px;
    background-color: white;
    /* Nền trắng */
    border: 1px solid #ddd;
    /* Viền nhạt */
    border-radius: 5px;
    /* Bo góc */
    width: 100%;
}

.do-dai-tien-trinh-mobile {
    height: 3%;
}

.do-dai-tien-trinh-pc {
    height: 5%;
}

#progress-bar {
    height: 100%;
    /* Chiều cao của thanh tiến trình */
    width: 0%;
    /* Bắt đầu từ 0% */
    background-color: green;
    /* Màu nền xanh */
    border-radius: 5px;
    /* Bo góc */
    text-align: center;
    /* Canh giữa nội dung bên trong */
    line-height: 30px;
    /* Canh giữa chữ theo chiều dọc */
    color: white;
    /* Màu chữ */
    transition: width 0.4s ease;
    /* Hiệu ứng chuyển động mượt mà */
}

.khung-ket-qua {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: white;
    cursor: pointer;
}

.dau-khung-ket-qua {
    border-top: 1px solid black;
}

.anh-ket-qua {
    width: 20%;
}

.anh-ket-qua-mobile {
    width: 25%;
}

.cau-dung {
    background-color: #198754;
}

.cau-sai {
    background-color: #DC3545;
}